table, th, td {
    border: 1px solid black;
}


html, body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;

    font-size: calc(5px + 1vw);

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap
}

.main{

}

.article_big{
    /*flex-direction: column;*/
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.article_news{

    /*width: 80%;*/
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display:flex;
    justify-content: center;
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    /*width: 90%;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*padding-left: 20px;*/
    padding: 20px;
    border-radius: 40px;

}


.article1_table{
    width: 100%;
    display:flex;
    justify-content: center;
}

.article1_content{
    min-height: calc(100vh - 40px);
    flex-direction: row;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    /*text-align: -moz-right;*/
    padding-left: 10%;
    /*padding-right: 10%;*/
    max-width: 80%;
}



.opnFrm {
    font-size: calc(2px + 1vw);
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

}
#response{
    font-size: calc(2px + 1vw);
    height: 138px;
    width: 183px;
    resize: none;
}

#nickname, #name, #email{
    font-size: calc(2px + 1vw);
    width: 183px;
}

.response_form{
    font-size: calc(2px + 1vw);
    padding-bottom: 10px;
}

.buttons_form{
    font-size: calc(2px + 1vw);
    display: flex;
    justify-content: center;
    align-content: center;
}

.form_input{
    font-size: calc(2px + 1vw);
    border: 0;
    margin-bottom: 20px;
    outline: none;
    border-bottom: 1px solid grey;
    width: 183px;
}



.buttons_form_class{
    font-size: calc(2px + 1vw);
    background-color: white;
    padding: 10px;
    margin:10px;
    margin-left: 2%;
    margin-right: 2%;

    color: black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #cbbebe;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition-duration: 300ms;
}
.buttons_form_class:hover{
    font-size: calc(2px + 1vw);
    background-color: #c7b3b3;
    color: white;
}
.active{
    font-size: calc(2px + 1vw);
    background-color: mediumpurple;
    color: white;
}



.datalist_topics{
    font-size: calc(2px + 1vw);
    transform: scale(0.6);
}


.image_url{
    font-size: calc(2px + 1vw);
    /*border: 0;*/
    outline: none;
    width: 183px;
    /*border-bottom: 1px solid grey;*/
}

.last_response{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.article_news_last_response{
    /*width: 80%;*/
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    display:flex;
    justify-content: center;

}

/*.main_css{*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
/*    align-content: center;*/
/*}*/

@media (max-width: 400px) {
    #response{
        width: 60%;
        height : auto;
    }
    #nickname, #name, #email {
        width: 60%;
        height : auto;
    }
    #gender_man, #gender_skip, #gender_woman{
        width: auto;
        height: auto;
        transform: scale(0.6);
    }
    .buttons_form_class{
        transform: scale(0.6);
    }
    .mustache_p_responses{
        font-size: calc(2px + 0.5vw);
    }
    .form_input{
        width: 60%;
        height : auto;
    }
}
